.wrapper {
  position: relative;
  overflow: hidden;
  max-width: 1600px;
  margin: 0 auto;
}
.header__top {
  position: relative;
  background-color: white;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.header__li {
  color: grey;
  &:hover {
    border-bottom: 3px solid limegreen;
    cursor: pointer;
    color: black;
  }
}

.header__5elements {
  display: flex;
  list-style: none;
  margin-top: 10px;
  gap: 50px;
}
.header__logo__pic {
  margin-top: 10px;
  margin-left: 140px;
}
.green__button {
  @include green__button();
  margin-right: 140px;
  margin-top: 10px;
}
.top__content__wrapp {
  position: relative;
  padding-top: 20px;
  height: 600px;
  background-color: $Very__Light__Gray;
}
.image__background {
  z-index: 1;
  position: absolute;
  padding-top: 30px;
  top: -11%;
  left: 45%;
  display: block;
  background-image: url(/images/bg-intro-desktop.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.three__phones__div {
  z-index: 2;
  position: absolute;
  top: -1%;
  left: 59%;
  width: 400px;
  height: 300px;
}
.next__generation {
  padding-top: 140px;
  padding-left: 100px;
  font-family: "Public Sans";
  font-weight: 600;
  opacity: 0.7;
}
.header__content__p {
  width: 30%;
  padding-left: 100px;
  margin-top: 20px;
  line-height: 25px;
  opacity: 0.7;
}
.green__button2 {
  @include green__button();
  margin-top: 30px;
  margin-left: 100px;
}
.why__easybank__wrapp {
  position: relative;
  z-index: -1;
  height: 100vh;
  background-color: rgb(216, 211, 211);
}
.top__content__wrapp {
  position: relative;
  z-index: -1;
}
